*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Addtocard{
    width: 100%;
    height: 48rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputbox{
   height: 100%;
   width: 99%;
   display: flex;
   align-items: center;
   flex-direction: column;
   border-radius: 2px;
   border: 1px solid rgba(0, 0, 0, 0.449);
   background-color: white;
}
 
.inputbox span{
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.inputbox span h4{
    font-size: 14px;
    font-weight:500 ;
}

.itembox{
    height: 75%;
    width: 98%;
    margin-top: 1rem;
    display: grid;
    grid-template-rows: auto;
    overflow-y: scroll;
   margin-left: 1.3rem;
    margin-bottom: 1rem;
}
.itembox::-webkit-scrollbar {
    display: none;
}
.item{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 6rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border-radius: 2px;
    border-bottom: 1px solid #00000037;
    padding: 8px 2px;
}

.item .images {
    width: 20%;
    height: 100%;
    overflow: hidden;
    cursor: pointer; 
}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    transition: 1s;
}
.item img:hover{
    scale: 1.2;
}
.item .item-details{
    height: 100%;
    width: 80%;
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
   
}
.item .item-details h2 {
    display: inline;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.404); */
}
.item .item-details h3 {
    font-size: 10px;
    font-weight: 600;
    padding: 2px 0px;
}
.item .item-details h4{
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
}
.item .item-details h5{
    font-size: 13px;
    font-weight:500 ;
}
.item .add-rem{
    display: flex;
    flex-direction: row;
    padding: 4px 3px;
    height: 20%;
    align-items: center;
    justify-content: space-between;
    width: 64%;
    margin-bottom: 0.9rem;
}
.item .add-rem .addicon {
    border: 1px solid rgba(0, 0, 0, 0.201);
    background-color: var(--light);
    border-radius: 3px;
    cursor: pointer;
}
.item .removeicon{
    height: 95%;
    width: 6%;
    cursor: pointer;
    
}

.Item-payment{
    height: 24%;
    width: 98%;
    margin-bottom: 1%;
    border: 1px solid rgba(0, 0, 0, 0.533);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.paymentinfo{
    height: 50%;
    width: 98%;
    display: flex;
    flex-direction: column;
  
    align-items: center;
}
.Item-payment .totaldetail{
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.totaldetail h5{
    font-size: 12px;
    font-weight: 500;
}
.Item-payment button{
    padding: 8px 63px;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--darklight);
    color: white;
    border: none;
    transition: 1s;
}
.Item-payment button:hover{
    background-color: var(--light);
    color: black;
    border: 1px solid black;
}
