:root {
  --dark: #ffff;
}
.container-parent {
  margin-top: 12px;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);
}

.Product-parent {
  padding: 0 4rem;
  display: flex;
  margin-top: 2rem;
  /* border: 2px solid green; */
}
.product-child-1 {
  width: 50%;
  display: flex;
  padding: 1rem 2rem;
  /* border: 2px solid red; */
}

.product-child-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid blue; */
  color: #000;
  padding: 20px 30px 20px 30px;
}

.heading-price-product h5 {
  font-size: 1.6rem;
  color: #4880ad !important;
  font-weight: 600;
}
.heading-name-rating-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-name-rating-star h3 {
  font-weight: 600;
  font-size: 1.9rem;
}

.product-details {
  color: #000;

  margin-top: 35px;
}
.product-details p {
  color: #000;
  line-height: 1.8;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}
.property-product {
  margin-top: 35px;
  padding-left: 20px;
}
.list-items {
  margin-bottom: 12px;
}
.product-cart-btns {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.product-cart-controller {
  display: flex;
  align-items: center;
}

.btn-1 {
  border: none;
  background: #2c4152c5;
  color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding: 12px 30px;
  border-radius: 0;
  font-weight: 400;
}
.btn-1:hover {
  background-color: #2c4152;
  border-color: #2c4152;
}
.three-extra {
  margin-top: 40px;
  padding: 0px 20px;
}
.mb-15 {
  margin-bottom: 15px;
  color: #000;
}
.span-part {
  margin-inline-start: 8px;
  color: #000;
}
.span-part a {
  color: #000;
  text-decoration: none;
}
.product-reviews {
  padding: 0 4rem;
  margin-top: 12px;
}
.related-products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  padding: 1rem 4rem;
  /* border: 2px solid red; */
  /* overflow-x: auto; Enable horizontal scrolling */
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Adjust the gap between cards */
  min-width: 100%; /* Ensure each card takes the full width of the container */
  flex-shrink: 0; /* Prevent cards from shrinking to fit */
  overflow-x: scroll; /* Enable horizontal scrolling */
}
