.FilterSec-container {
  padding: 0 3%;
  /* border: 2px solid; */
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.category-filter {
  width: 30%;
  border: 1px solid rgba(16, 16, 16, 0.282);
}

.card-display-section {
  width: 90%;
  margin-left: 5px ;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.CardPart {
  /* border: 2px solid red; */
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.CardPart .card-container {
  /* flex: 0 0 calc(25% - 10px);  */
  margin-bottom: 20px;
}

.total-item{
  padding: 15px 15px;
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.652);
  border-bottom: 1px solid rgba(128, 128, 128, 0.652);
}


/* Add more specific styles for individual cards if needed */

@media screen and (max-width: 1150px) {
  .AddCardPart {
    display: none;
  }
  .FilterSec-container .CardPart {
    width: 100%;
  }
  .card-display-section {
    width: 100%;
    border: 2px solid red;
  }
  .FilterSec-container .FilterPart {
    width: 100%;
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  /* Add responsive styles if needed */
}
