.FilterSec-container {
  padding: 0 3%;
  /* border: 2px solid ; */

  /* height: 80rem; */
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.FilterSec-container .FilterPart {
  /* width: 80%; */
  /* border: 2px solid red; */
  display: flex;
}
.category-filter {
  width: 30%;
  border: 1px solid rgba(16, 16, 16, 0.282);
}
.card-display-section {
  width: calc(100% - 30%);
  padding: 0 10px;
}
.card-display-section .total-item {
  border-bottom: 1px solid rgba(128, 128, 128, 0.429);
  border-top: 1px solid rgba(128, 128, 128, 0.429);
  padding: 20px 8px;
  font-size: 12px;
  /* font-weight: bold; */
  letter-spacing: 1px;
}
.FilterSec-container .CardPart {
  /* border: 2px solid red; */
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.FilterSec-container .AddCardPart {
  width: 80%;
  /* border: 2px solid yellow; */
}


.AddCardPart .addpart {
  border: 1px solid rgba(16, 16, 16, 0.282);
  margin-top: 5px;
}
.AddCardPart .addpart h3 {
  text-align: center;
  padding: 5px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 1150px) {
  .AddCardPart {
    display: none;
  }
  .FilterSec-container .CardPart {
    width: 100%;
  }
  .card-display-section {
    width: 100%;
    border: 2px solid red;
  }
  .FilterSec-container .FilterPart {
    width: 100%;
    display: flex;
  }
}
@media screen and (max-width: 400px) {
}
