
#quantity-id {
  display: flex;
  flex-direction: column;
  width: 10vw;

}



.block-quantity {
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 48%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  /* background-color: #2c4152; */

}
.reduce-icon {
  background-color: transparent;
  margin-inline-start: 10px;
  display: flex;
  align-items: center;
}
.Number-items {
  background-color: transparent;
  margin-top: 8px;
}
.Number-items H5 {
  background-color: transparent;
  font-size: 1.4rem;
  color: #fff;
}

.add-icon {
  background-color: transparent;
  margin-inline-end: 10px;
  display: flex;
  align-items: center;
}

.icon {
  background-color: transparent;
  cursor: pointer;
}

