* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.Homepage, .homepage2,
.homepage3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}
.Homepage {
  flex-direction: column;
}
