User
* {
  margin: 0;
  padding: 0;
  box-sizing: box-shadow;
}
:root {
  --dark: #ffff;
}
.container-parent{
  width: 75vw;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);

}

.Product-parent {
  width: 80%;
  display: flex;
  margin-top:22px ; 
  
}
.product-child-1 {
  height: 90%;
  width: 30%;
}
.product-child-2 {
  color: #000;
  width: 70%;
  padding: 25px 9rem;

}



.carousel-child .c-image {
  margin-top: 25px;
}


.heading-price-product h5 {
  font-size: 1.6rem;
  color: #ffaa17 !important;
  font-weight: 600;
}
.heading-name-rating-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-name-rating-star h3 {
  font-weight: 600;
  font-size: 1.9rem;
}

.product-details {
  color: #000;

  margin-top: 35px;
}
.product-details p {
  color: #000;

  line-height: 1.8;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}
.property-product {
  margin-top: 35px;
  padding-left: 20px;
}
.list-items {
  margin-bottom: 12px;
}
.product-cart-btns {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-cart-controller {
  display: flex;
  /* justify-content: center; */
  align-items: center;

}

.btn-1 {
  border: none;
  background: #d9b29c;
  color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding: 12px 30px;
  border-radius: 0;
  font-weight: 400;
}
.btn-1:hover {
  background-color: bisque;
  border-color: #d9b29c;
  color: #000;

}.three-extra{
  margin-top: 40px;
  padding: 0px 20px;
}
.mb-15{
  margin-bottom: 15px;
  color: #000;

}
.span-part{
  margin-inline-start: 8px;
  color: #000;

}
.span-part a{
  color: #000;
  text-decoration: none;


}
.product-reviews{
  width: 80%;
  margin-top: 12px;
} 
.related-products{
  width: 100%;
  margin-top: 103px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.heading {
  padding: 0px 55px;
}
.cards{
  display: flex;
  margin-top: 45px;
  justify-content: space-around;

}