.footer_container {
  background-color: #2c4152;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 2rem 2rem;
  height: 280px;
}
.footer_support h2{
    font-size: 1.1rem;
}
.footer_support p{
    font-size: 12px;
    letter-spacing:1px;
    padding: 5px 0;
    color: rgb(175, 173, 173);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.footer_support p:hover{
    text-decoration: underline;
    color: rgb(203, 203, 203);
}
.footer_contact h2{
    font-size: 1.1rem;
}
.footer_contact p{
    font-size: 12px;
    letter-spacing:1px;
    padding: 5px 0;
    color: rgb(175, 173, 173);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.footer_contact p:hover{
    text-decoration: underline;
    color: rgb(203, 203, 203);
}

.footer_socialIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_socialIcon h2 {
  font-size: 1.1rem;
  }
.social_icon_section {
  width: 100%;
}
.footer_socialIcon .socialIcon {
  display: flex;
  justify-content: space-between;
}
.socialIcon_insta .insta_icon h2 {
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.socialIcon_insta .insta_icon h2:hover {
  color: red;
}
.socialIcon .twitter_icon h2{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.socialIcon .twitter_icon h2:hover{
    color: rgb(20, 186, 251);
}
.socialIcon .facebook_icon h2{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.socialIcon .facebook_icon h2:hover{
    color: rgba(0, 0, 255, 0.888);
}
.socialIcon .linkedIn_icon h2{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.socialIcon .linkedIn_icon h2:hover{
    color: rgba(0, 0, 255, 0.888);
}
.socialIcon .telegram_icon h2{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.socialIcon .telegram_icon h2:hover{
    color: rgb(20, 186, 251);
}



/* Footer Media Query */
