.navbar-container {
  padding: 0 3%;
  padding-bottom: 5px;
}
.navbar-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
}
.navbar-logo h1 {
  letter-spacing: 8px;
  font-size: 50px;
  font-weight: 400;
}
.navbar-search-items-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.search-items {
  border: 1px solid rgba(0, 0, 0, 0.389);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.search-items input {
  padding: 8px 10px;
  letter-spacing: 2px;
  font-size: 10px;
  width: 95%;
  border: none;
  outline: none;
}
.navigation-items ul {
  display: flex;
}
.navigation-items ul li {
  list-style: none;
  margin-inline: 35px;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
}
