.navbar-container {
  padding: 0 3%;
  padding-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f1e3;
}
.navbar-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}
.navbar-logo h1 {
  letter-spacing: 8px;
  font-size: 40px;
  font-weight: 500;
}
.navbar-search-items-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
}
.search-items {
  border: 1px solid rgba(0, 0, 0, 0.389);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.search-items input {
  padding: 10px 10px;
  letter-spacing: 2px;
  font-size: 12px;
  width: 95%;
  border: none;
  outline: none;
}
.navigation-items ul {
  display: flex;
}
.navigation-items ul li {
  list-style: none;
  margin-inline: 35px;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
