.gridSlide{
    height: 65vh;
    width: 100%;
    background-color:var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridslide-child{
    height: 90%;
    width: 31%;
    margin: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--darklight);   
} 
  .gridslide-child img{
    height: 100%;
    width: 100%;
}
.child2{
    border: none;
}
.child-element{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
    height: 48%;
}
.ch1{
    border: 2px solid var(--darklight);   

}
.child-element img{
    height: 100%;
    width: 100%;
}


.grand-child{
    border: 2px solid var(--darklight);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 99%;
}
.grand-child img{
   width: 100%;
   height: 100%;
}

/* For Responsiveness............................ */
@media screen and (max-width:900px){
    .gridSlide{
        flex-direction: column;
    }
    .gridslide-child{
        width: 90%;
        height:31% ;
    }
}
