.component-parent {
  margin-top: 12px;
  padding: 10px 50px;
}
.heading-part {
  display: flex;
  padding: 5px 15px;
  /* background-color: #2c4152; */
  border-radius: 5px;
  /* justify-content: center; */
}
.heading-part h1 {
  font-size: 1.2rem;
  color: black;
}

.tab1-description p {
  word-spacing: 5px;
  font-size: 12px;
  padding: 0px 10px;
}

.parent-reviews{
  width: 50%;
}

.tab2-comments {
  display: flex;
  margin-top: 20px;
}
.tab2-child {
  margin-top: 20px;
  padding: 2px 30px;
  margin-inline-start: 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 4px ;
}

.username-icon {
  display: flex;
  align-items: center;
}
.icon-user {
  font-size: 1.3rem;
}

.username {
  margin-inline-start: 5px;
  font-size: .7rem;
}
.date-review p{
  font-size: .7rem;
}
.star-reviews {
  display: flex;
  align-items: center;
  font-size: .9rem;
}

.Comments-part {
  margin-top: 5px;
}
.Comments-part p {
  font-size: .7rem;
  font-weight: 500;
}
.buttons-help {
  padding: 15px 0px;
}
.buttons-help button {
  margin-inline-start: 12px;
  padding: 5px 12px;
  border-color: antiquewhite;
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  border: none;
  font-size: .6rem;
}
.Review-form{
  width: 50%;
}
.heading-part-review-form{
  text-align: center;
  padding: 2px 12px;
  margin-top: 60px;
}
.heading-part-review-form h1{
  font-size:1.2rem;
}
.form-rating{
  padding: 45px 45px ;
}
.input-title{
  border: 1px solid gray;
  margin-top:30px  ;
  padding:1 2px;
}

.input-title input{
  padding: 12px 12px ;
  width: 70%;
  border: none;
  outline: none;
}
textarea{
  border: none;
  outline: none;
  padding: 12px 12px;
}
.button-submit{
  margin-top: 50px;
  padding: 12px 12px ;
}
.button-submit button{
  padding: 12px 45px  ;
  font-size: 1em;
  border: 1px solid gray;
  outline: none;
  border-radius: 2px;
  transition: 0.5s;
}
.button-submit button:hover{
  background: #3d6c92;
  color: white;
}