.card-container {
  /* border: 1px solid grey; */
  border-radius: 3px;
  width: 250px;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;  cursor: pointer;
  margin-bottom: 10px;
  margin-inline: 7px;
  transition: all 0.4s ease-in-out;
}
.card-container:hover{
  transform: scale(1.03);
}

.cardItem-img {
  overflow: hidden;
}

.cardItem-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cardItem-desc {
  padding: 5px;
}
.cardItem-desc .cardItem-title {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}
.cardItem-desc .cardItem-Pricing {
  text-align: center;
  font-size: 12px;
  padding: 2px 0;
  /* font-weight: bold; */
}

.cardItem-desc .item-offerPrice {
    text-align: center;
    font-size: 12px;
    padding: 2px 0;
    /* font-weight: bold; */
    color: green;
  }