.gridSlide{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridslide-child{
    height: 90%;
    width: 31%;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
} 
  .gridslide-child img{
    height: 100%;
    width: 100%;
}
.child2{
    border: none;
}
.child-element{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
    height: 49%;
}

.child-element img{
    height: 100%;
    width: 100%;
}


.grand-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 99%;
}
.grand-child img{
   width: 100%;
   height: 100%;
}

/* For Responsiveness............................ */
@media screen and (max-width:900px){
    .gridSlide{
        flex-direction: column;
        height: 140vh;
    }
    .gridslide-child{
        width: 90%;
        height:31% ;
    }
}
@media screen and (max-width:400px){
  .gridSlide{
    height: 140vh;
  }
}
