* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: black;
  --light: #f4e8e1;
  --darklight: #d9b29c;
}
body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #626262;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
