* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: black;
  }
  .filter-section-main-class {
    width: 98%;
    height: 48rem;
  }
  .filter-parent {
  
    height: 100%;
    width: 100%;
    background-color: #d9b29c;
    display: flex;
    justify-content: center;

  }
  .filter-part-child {
    height: 95%;
    width: 90%;
    margin-top: 12px;
    background-color: transparent;

  }

  .category-parent {
    padding: 12px 9px;
    margin-top: 0px;
    height: 89%;
    width: 90%;
    margin-left: 12px;
    background-color: transparent;
  }
  .category-main-child {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
  }
  .category-part-search-part {
    border: 2px solid rgb(124, 84, 84);
    margin-top: 2px;
    padding: 0px 5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .category-part-search-part input {
    height:27px;
    width: 85%;
    border: none;
    font-size: 14px;
    padding: 3px 3px;
    outline: none;
  }
  .category-part-search-part input::placeholder {
    color: black;
    
  }
  .span-search-part {
    margin-top: 5px;
  }
 
  .list-items-category-part {
    margin-top: 4px;
    height: 63%;
    padding: 12px 0px;
  }
  .input-checkbox-category-part {
    padding: 3px 4px;
    display: flex;
    align-items: center;
  }
  .input-checkbox-category-part .input-checkbox {
    width: 15px;
    height: 30px;
    cursor: pointer;
  }
  
  .input-checkbox-category-part label {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 14px;
    cursor: pointer;
}
  .Gender-parent-category {
    height: 30%;
    padding: 12px 0px;
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  
  .Gender-parent-category ul {
    margin-top: 12px;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
  }
    
  .Gender-parent-category ul li{
    list-style: none;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
  }

  .Gender-parent-category .arrowdrop{
    position: relative;
    top: 5px;
  }
  .Gender-parent-category ul li .arrowdrop{
    position: relative;
    top: 8px;
}
  
  