.navbar-container {
  padding: 0 3%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f1e3;
}
.navbar-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}
.navbar-logo h1 {
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 600;
  color: #2c4152;
}
.navbar-icons {
  display: flex;
  width: 14%;
  gap: 2.5rem;
  transition: 0.3s ease-in-out;
}
.navbar-icons p {
  transition: 0.3s ease-in-out;
}
.navbar-icons .profile_icon:hover {
  color: #2c4152;
}
.navbar-icons .fav_icon:hover {
  color: red;
}
.navbar-icons .cart_icon:hover {
  color: green;
}
.navbar-search-items-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
}
.search-items {
  border: 1px solid rgba(0, 0, 0, 0.389);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.search-items input {
  padding: 10px 10px;
  letter-spacing: 2px;
  font-size: 12px;
  width: 95%;
  border: none;
  outline: none;
}
.navigation-items ul {
  display: flex;
}
.navigation-items ul li {
  list-style: none;
  margin-inline: 35px;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
  color: #2c4152;
  transition: 0.8s ease-in-out;
}
.navigation-items ul li:hover {
  text-decoration: underline;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
