.checkout-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    padding: 5rem 4rem;
}
 
/* ************************ ShipingInfo Component css ************************** */

.shiping-container {
  width: 950px;
  background: #fff;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.shiping-container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;

}
.shiping-container  form{
  padding: 30px 0 0 0;
}
.shiping-container form .form-row{
  display: flex;
  margin: 32px 0;
  padding: 10px 4px;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
.input-data input{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before
{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
  transition: 0.4s;

}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #6bd3ff, #4b8ee7, #56d8e4, #4c92e3);
  transition: all 0.4s;
}
.submit-btn .input-data:hover{
  scale: 0.94;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}

/* **************************** PaymentInfo component css *********************************** */
.Payment-container {
  width: 950px;
  background: #fff;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.Paymnent-container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;

}
.Payment-container  form{
  padding: 30px 0 0 0;
}
.Payment-container form .form-row{
  display: flex;
  margin: 32px 0;
  padding: 10px 4px;
}

/* ***************Payment Method************************ */

.payment-method-container{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 20px;
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0);
  
}
.payment-method{
  padding: 10px 15px; 
  cursor: pointer;
  
  text-align: center;
 
}
.bottem-line{
  width: 100%;
  height: 2px;
  margin-top: 4px;
  background-color: #3498db;
  transform: scaleX(0);
  transition: 0.2s all ease-in-out;
}
.payment-method:hover{
  .bottem-line{
     transform: scale(1);
  }
}

/* *******************Payment using Mobile pay**************************** */

.Mobile-pay-box{
  padding: 15px 15px;
  margin-top: 3rem;
}
.mobile-pay-app{
  padding: 24px 10px;
  display: flex;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}
.mobile-pay-app .image-icon{
   width: 34px;
   height:25px;
   margin-right: 15px;
}
.mobile-pay-app .image-icon img{
  height: 100%;
  width: 100%;
}
.payment-submit-btn{
  width: 95%;
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.payment-submit-btn button{
  padding:8px 35px;
  letter-spacing: 1px;
  border-radius: 3px;
  color: white;
  border: none;
  background-color: rgb(44 65 82);
  transition: 0.6s;
   margin-left:24px ;
}
.payment-submit-btn button:hover{
       background-color: rgb(10, 150, 215);
}





.product-payment {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 22px 10px;
    width:400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}