.Slidehome{
    height: 400px;
    width: 99%;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.Carousel-home{

    height: 80%;
    width: 92%;
}
.carousel-image img{
    width: 10rem;
    height: 24rem;
}
/* .carousel .thumb {
    visibility: hidden;
} */