.Slidehome{
    height: 65vh;
    width: 100%;
    /* background-color: red; */
    background-color: var(--light);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid red;
    overflow: hidden;
}
.Carousel-home{
    height: 50%;
    width: 90%;

}